body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    /*height: 8vh;*/
}

.logged {
    margin-left: auto;
}

nav a, nav a:hover {
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

nav a {
    display: flex;
    align-items: center;
    padding: 3vh 2vh 3vh 2vh;
    margin: 0;
    transition: 0.3s;
    color: white;
}